<%- include('partials/header') -%>
<div id="cen"></div>
    <h1 id="he">High Scores😎😎</h1>

<div class="row text-center ">

<% uscore.forEach(function(user){   %>
<!-- <div >
                <h2 id= "high" ><%=  user.username %></h2>
                 <h3 id= "high" ><%= user.score%></h3>
             -->
<table>
             <td>
                 <tr><h3><%=  user.username %></h3></tr>
                 <tr><h3><%=  user.score %></h3></tr>
             </td>
                <hr>
                 </table>
            
<%  }) ;  %>
</div>
<%- include('partials/footer') -%>
 